.nav {
    display: flex;
    flex-flow: column;
    top: 0%;
    z-index: 999;
    position: sticky;
    background-color: white;
    box-shadow: 0 10px 15px -3px rgba(0,0,0,.1), 0 4px 6px -2px rgba(0,0,0,.05);
}

.nav-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
    padding: 1rem;
}

.nav-top-left,
.nav-top-right {
    display: flex;
    align-items: center;
}

.nav-bleft-links:hover {
    border-bottom: 1px solid black;
    cursor: pointer;
}

.nav-tleft-link {
    margin-left: .5rem;
    font-weight: 400;
}

.nav-tright-icon {
    margin-right: .8rem;
}

.nav-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.nav-bottom-left,
.nav-bottom-right {
    display: flex;
    align-items: center;
}

.nav-bleft-clothescategories {
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

.nav-bleft-links {
    margin-left: 1rem;
    font-weight: 400;
}

.nav-tright-link {
    font-weight: 400;
}

.nav-bright-searchText {
    font-weight: 400;
}

.nav-bright-search {
    display: flex;
    align-items: center;
    margin-right: 1rem;
}

.nav-bright-search:hover {
    color: lightgray;
    cursor: pointer;
}

.nav-bright-link,
.nav-bright-icons {
    margin-right: 1rem;
}

.nav-bright-link:hover,
.nav-bright-icons:hover {
color: lightgray;
    cursor: pointer;
}